.EpochConverter {
    padding: 1em;
}

.EpochPanel {
    display: flex;
    flex-direction: column;
}

.EpochForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.EpochUnit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
